{% extends "tfUserBundle::prestataire.html.twig" %}
{% block tilte %}
    Espace prestataire Bon plan
{% endblock %}
{% block container %}

<section class="content">
    <a class="btn btn-success pull-right" href="{{ path('evennement_new') }}">Nouveau Evénements</a>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des Evénements</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Idev</th>
                <th>Nom</th>
                <th>Datedabut</th>
                <th>Dateexpiration</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evennement in evennements %}
            <tr>
                <td><a href="{{ path('evennement_show', { 'idev': evennement.idev }) }}">{{ evennement.idev }}</a></td>
                <td>{{ evennement.nom }}</td>
                <td>{% if evennement.datedabut %}{{ evennement.datedabut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evennement.dateexpiration %}{{ evennement.dateexpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ evennement.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evennement_show', { 'idev': evennement.idev }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evennement_edit', { 'idev': evennement.idev }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evennement_new') }}">Créer un évenement</a>
        </li>
    </ul>
{% endblock %}
