{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
    <div class="blog">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-9 menu-left">
                    <h3>Restaurants et cafés</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>Retrouvez les meilleurs bons plans et les conseils des plus grands experts du domaine de la restauration!</span>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="col-md-9 blog-header">
    {% for article in articles %}
                    <div class="col-md-4 blog-top">
                        <div class="blog-in">
                            <a href="#"><img class="img-responsive" src="{{ asset('uploads/' ~ article.imagename) }}" alt=" "></a>
                            <div class="blog-grid">
                                <h3><a  href="#">{{ article.titre }}</a></h3>
                                <div class="date">
                                    <span class="date-in"><i class="glyphicon glyphicon-calendar"> </i>{{ article.date|date('Y-m-d') }}</span>
                                    <a href="#" class="comments"><i class="glyphicon glyphicon-comment"></i>24</a>
                                    <div class="clearfix"> </div>
                                </div>
                                <p></p>
                                <div class="more">
                                    <a class="link link-yaku"href="{{ path('front_bon_plan_single',{'id': article.idarticle}) }}">
                                        <span>Détails</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endfor %}








            </div>
            <div class="col-md-3 categories-grid">
                <div class="search-in animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h4>Recherche</h4>
                    <div class="search">
                        <form method="POST" >
                            <input type="text" placeholder="Trouvez votre bon plan" name="search" required="" >
                            <input type="submit" value="" >
                        </form>
                    </div>
                </div>
                <div class="grid-categories animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h4>Catégories</h4>
                    <ul class="popular">
					{% for category in categories %}
					<li><a href="{{ path('articles_categorie',{'id': category.idcatart}) }}"><i class="glyphicon glyphicon-menu-right">{{ category.nom }} </i></a></li>
					{% endfor %}
                        

                    </ul>
                </div>
                <div class="blog-bottom animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h4>Nouveautés</h4>
					{% for article in articles %}
					<div class="product-go">
                        <a href="#" class="fashion"><img class="img-responsive " style="height:120px" src="{{ asset('uploads/' ~ article.imagename) }}" alt=""></a>
                        <div class="grid-product">
                            <a href="#" class="elit">{{ article.titre }}</a>
                            <p>{{ article.description }}</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
					{% endfor %}
                    
                    
                    
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}