{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
    <div class="content">
        <div class="events">
            <div class="container">
                <div class="events-top">
                    <div class="col-md-4 events-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Evenements</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span></span>
                    </div>
                    <div class="col-md-8 events-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="events-bottom">
                    <div class="col-md-5 events-bottom1 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <a href="single.html"><img src="{{  asset('images/ev.jpg') }}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="col-md-7 events-bottom2 animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>{{ event.nom }}</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <p>{{ event.description }}</p>
                        {% if is_granted('ROLE_USER') %}
                        <div class="read-more">
                            <a class="link link-yaku" href="{{ path('reserver_new',{'id': event.idev}) }}">
                                <span>R</span><span>é</span><span>s</span><span>e</span><span>r</span><span>v</span><span>e</span><span>r</span>
                            </a>
                        </div>

                        {% else %}
                        <div class="read-more">
                            <a class="link link-yaku" href="{{ path('front_bon_plan_login') }}">
                                Se Conneter Pour réserver
                            </a>
                        </div>
                        {% endif %}
                        "{{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}"
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}