{% extends "Front\BonPlanBundle::layout.html.twig" %}
 {% block head %}
     <div class="banner">


         <h4 class="animated wow fadeInTop" data-wow-duration="1000ms" data-wow-delay="500ms">Les Bons Plans de Tunis</h4>
         <br>
         <form method="post" class="col-md-offset-3 col-md-6">
             <input type="text" name="search" class="form-control form-control-lg" style="height: 50px"  placeholder="Trouvez un plan !!">
             <br>
             <input type="Submit" value="Rechercher" class="btn btn-success btn-lg">
         </form>
         <a class="scroll down" href="#content-down"><img src="{{ asset('images/down.png') }}" alt=""></a>
     </div>
 {% endblock %}
{% block container %}

    <div class="content" id="content-down">
        {% if ( pubs  != null) %}
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>TOP</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>Articles sponsorisés</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>Les bons plans de Tunis t'aide à découvrir de nouveaux endroits grâce aux recommandations d'une communauté d'utilisateurs de confiance. Trouve les meilleures expériences, partout sur le grand Tunis.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bottom">
                    <div class="news-bot">
                        {% for pub in pubs %}
                            <div class="col-md-4 news-bottom1 animated wow fadeInUp" style="margin-bottom: 15px" data-wow-duration="1000ms" data-wow-delay="500ms">
                                <a href="{{ path('front_bon_plan_single',{'id': pub.article.idarticle}) }}">
                                    <div class="content-item" style="background-image: url({{ asset('uploads/'~pub.article.imagename) }});background-size: cover">
                                        <div class="overlay"></div>
                                        <div class=" news-bottom2">
                                            <ul class="grid-news">
                                                <li><span><i class="glyphicon glyphicon-map-marker"> </i>{{ pub.article.adresse }}</span><b>/</b></li>

                                            </ul>
                                            <p>{{ pub.article.titre }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="clearfix"> </div>
                    </div>


                </div>
        </div>
        <!--services-->
        </div>
            {% endif %}
        <!--//services-->
        <!--news-->
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" >
                        <h3>Nouveautés</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>La vie est remplie de moments éphémères</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" >
                        <p></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bottom">
                    <div class="news-bot">
    {% for article in articles %}
                        <div class="col-md-4 news-bottom1 animated wow fadeInUp" style="margin-bottom: 15px" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <a href="{{ path('front_bon_plan_single',{'id': article.idarticle}) }}">
                                <div class="content-item" style="background-image: url({{ asset('uploads/'~article.imagename) }});background-size: cover">
                                    <div class="overlay"></div>
                                    <div class=" news-bottom2">
                                        <ul class="grid-news">
                                            <li><span><i class="glyphicon glyphicon-map-marker"> </i>{{ article.adresse }}</span><b>/</b></li>

                                        </ul>
                                        <p>{{ article.titre }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
        {% endfor %}
                        <div class="clearfix"> </div>
                    </div>


                </div>
            </div>
        </div>
        <!--//news-->
        <!--news-->
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Shopping</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>produits divers pour vous</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bottom">
                    <div class="news-bot">
                        {% for produit in produits %}
                            <div class="col-md-6 news-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                                <a href="{{ path('front_bon_plan_singleProduit',{'id': produit.idproduit }) }}">
                                    <div class="content-item" style="background-image: url({{ asset('uploads/'~produit.imagename) }});background-size: cover">
                                        <div class="overlay"></div>
                                        <div class=" news-bottom2">
                                            <ul class="grid-news">
                                                {% for promotion in promotions %}
                                                    {% if (promotion.idprod.idproduit) == (produit.idproduit) %}
                                                        {% set pourcentage = promotion.reduction *100 %}
                                                        <li><span><h1 style="color:red;font-weight: bold"> Promotion {{ pourcentage }} % </h1></span><b></b></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <ul class="grid-news">
                                                <li><span><i class="glyphicon glyphicon-map-marker"> </i>{{ produit.adresse }}</span><b>/</b></li>

                                            </ul>
                                            <p>{{ produit.nompdt }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="clearfix"> </div>
                    </div>


                </div>
            </div>
        </div>
        <!--//news-->

    </div>
    <!-- /.container -->
{% endblock %}
{%  block Footer %}
    <div class="footer">
        <div class="container">
            <div class="footer-head">
                <div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <ul class=" in">
                        <li><a class="active" href="{{ path('front_bon_plan_homepage') }}">Home</a></li>
                        <li><a href="{{ path('front_bon_plan_menu') }}">Events</a></li>
                        <li><a href="{{ path('front_bon_plan_blog') }}">Restaurant et Café</a></li>
                        <li><a href="{{ path('front_bon_plan_contact') }}">Contact</a></li>
                    </ul>
                    <span>There are many variations of passages</span>
                </div>
                <div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h2>S'inscrire aux newsletter</h2>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>

                    <form method="POST" >
                        <input type="email" style="width: 90% ; height: 80%; margin-bottom: 7px ;font-size:25px"  name="email" placeholder="Votre mail"  >
                        <input type="submit" style="font-size: 20px
" value="S'inscrire" >
                    </form>
                    <p>task force labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                    <ul class="social-ic">
                        <li><a href="#"><i></i></a></li>
                        <li><a href="#"><i class="ic"></i></a></li>
                        <li><a href="#"><i class="ic1"></i></a></li>
                        <li><a href="#"><i class="ic2"></i></a></li>
                        <li><a href="#"><i class="ic3"></i></a></li>
                    </ul>

                </div>
                <div class="clearfix"> </div>

            </div>
            <p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; 2016 Cookery . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>
{% endblock %}