{% extends "Front\BonPlanBundle::layout.html.twig" %}
 {% block head %}
     <div class="banner">
         <p class="animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">Envie de s'éclater on est la pour vous</p>
         <label></label>
         <h4 class="animated wow fadeInTop" data-wow-duration="1000ms" data-wow-delay="500ms">Les Bons Plans de Tunis</h4>
         <a class="scroll down" href="#content-down"><img src="{{ asset('images/down.png') }}" alt=""></a>
     </div>
 {% endblock %}
{% block container %}

    <div class="content" id="content-down">
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>About</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>La vie est remplie de moments éphémères</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>Les bons plans de Tunis t'aide à découvrir de nouveaux endroits grâce aux recommandations d'une communauté d'utilisateurs de confiance. Trouve les meilleures expériences, partout sur le grand Tunis.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="content-mid">

                    <div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>The Cliff La Marsa</h4>
                            <div class="top">
                                <div class="front face"></div>
                                <div class="back face">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                </div>
                            </div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="col-md-4 food-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>Grill House Ennasr</h4>
                            <div class="top">
                                <div class="front face front1"></div>
                                <div class="back face">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                </div>
                            </div>
                            <div class="bottom bottom1"></div>
                        </div>
                    </div>
                    <div class="col-md-4 food-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>L'ardoise Gammarth</h4>
                            <div class="top">
                                <div class="front face front2"></div>
                                <div class="back face">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                </div>
                            </div>
                            <div class="bottom bottom2"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--services-->
        <div class="services">
            <div class="container">
                <div class="services-top">
                    <div class="col-md-8 services-right animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                    </div>
                    <div class="col-md-4 services-left animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Services</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>There are many variations</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="service-top">
                    <div class="col-md-5 service-top animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" service-grid">
                            <div class="col-md-6 service-grid1">
                                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                    <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-leaf"></a>
                                </div>
                            </div>
                            <div class="col-md-6 service-grid1">
                                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                    <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-star-empty"></a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" service-grid">
                            <div class="col-md-6 service-grid1">
                                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                    <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-folder-open"></a>
                                </div>
                            </div>
                            <div class="col-md-6 service-grid1">
                                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                    <a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-home"></a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div class="col-md-7 service-bottom animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" service-bottom1">
                            <div class=" ser-bottom">
                                <img src="{{ asset('images/sa.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <div class="ser-top ">
                                <h5>Beautiful &amp; enjoyable designs</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" service-bottom1">
                            <div class=" ser-bottom">
                                <img src="{{ asset('images/sa1.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <div class="ser-top ">
                                <h5>Beautiful &amp; enjoyable designs</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class=" service-bottom1">
                            <div class=" ser-bottom">
                                <img src="{{ asset('images/sa2.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <div class="ser-top ">
                                <h5>Beautiful &amp; enjoyable designs</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!--//services-->
        <!--news-->
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Nouveaux lieux</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>produits divers pour vous</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bottom">
                    <div class="news-bot">
    {% for article in articles %}
                        <div class="col-md-6 news-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <a href="{{ path('front_bon_plan_single',{'id': article.idarticle}) }}">
                                <div class="content-item" style="background-image: url({{ asset('uploads/'~article.imagename) }});background-size: cover">
                                    <div class="overlay"></div>
                                    <div class=" news-bottom2">
                                        <ul class="grid-news">
                                            <li><span><i class="glyphicon glyphicon-map-marker"> </i>{{ article.adresse }}</span><b>/</b></li>

                                        </ul>
                                        <p>{{ article.titre }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
        {% endfor %}
                        <div class="clearfix"> </div>
                    </div>


                </div>
            </div>
        </div>
        <!--//news-->
        <!--news-->
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-4 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Shopping</h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span>produits divers pour vous</span>
                    </div>
                    <div class="col-md-8 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="news-bottom">
                    <div class="news-bot">
                        {% for produit in produits %}
                            <div class="col-md-6 news-bottom1 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                                <a href="{{ path('front_bon_plan_singleProduit',{'id': produit.idproduit}) }}">
                                    <div class="content-item" style="background-image: url({{ asset('uploads/'~produit.imagename) }});background-size: cover">
                                        <div class="overlay"></div>
                                        <div class=" news-bottom2">
                                            <ul class="grid-news">
                                                {% for promotion in promotions %}
                                                    {% if (promotion.idprod.idproduit) == (produit.idproduit) %}
                                                        {% set pourcentage = promotion.reduction *100 %}
                                                        <li><span><h1 style="color:red;font-weight: bold"> Promotion {{ pourcentage }} % </h1></span><b></b></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <ul class="grid-news">
                                                <li><span><i class="glyphicon glyphicon-map-marker"> </i>{{ produit.adresse }}</span><b>/</b></li>

                                            </ul>
                                            <p>{{ produit.nompdt }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="clearfix"> </div>
                    </div>


                </div>
            </div>
        </div>
        <!--//news-->
    </div>
    <!-- /.container -->
{% endblock %}