{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
        <div class="menu">
        <div class="container">
            <div class="menu-top">
                <div class="col-md-4 menu-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>Menu</h3>
                    <label><i class="glyphicon glyphicon-menu-up"></i></label>
                    <span>There are many variations</span>
                </div>
                <div class="col-md-8 menu-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour , or randomised words which don't look even slightly believable.There are many variations by injected humour. There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour , or randomised words</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="menu-bottom animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me1.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me2.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="menu-bottom animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me3.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me4.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me5.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="menu-bottom animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me6.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me7.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 menu-bottom1">
                    <div class="btm-right">
                        <a href="events.html">
                            <img src="{{  asset('images/me8.jpg') }}" alt="" class="img-responsive">
                            <div class="captn">
                                <h4>Lorem</h4>
                                <p>$20.00</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}