{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}
    <div class="container">
        <br><br>
    <div class="single">

        <div class="single-top">
            <img class="img-responsive wow fadeInUp animated" style="height: 300px;width: auto" data-wow-delay=".5s" src="{{ asset('uploads/'~ article.imagename) }}" alt="" />
            <div class="lone-line">
                <h4>{{ article.titre }}</h4>
                <ul class="grid-blog">
                    <li><span><i class="glyphicon glyphicon-time"> </i>{{ article.date|date('Y-m-d') }}</span></li>
                    <li><i class="glyphicon glyphicon-map-marker"> </i>{{ article.adresse }}</li>

                </ul>
                <p class="wow fadeInLeft animated" data-wow-delay=".5s">{{ article.description }}</span></p>
            </div>
        </div>
        <div class="comment">
            <h3>Commentaires</h3>
            <div class="media wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="code-in">
                    <p class="smith"><a href="#">Andey</a> <span>02 June 2014, 15:20</span></p>
                    <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="media-left">
                    <a href="#">
                        <img src="{{ asset('images/si1.jpg') }}" alt="">
                    </a>
                </div>
                <div class="media-body">

                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>


        </div>
        <div class="leave">
            <h3>Laissez un commentaire</h3>
            <form>
                <div class="single-grid wow fadeInLeft animated" data-wow-delay=".5s">

                    <input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">

                    <input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}">


                    <input type="text" value="Web site" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Web site';}">

                    <textarea value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Comment';}">Comment</textarea>
                    <label class="hvr-rectangle-out">
                        <input type="submit" value="Envoyer">
                    </label>
                </div>
            </form>
        </div>

    </div>
        <br><hr>
    </div>
    <!-- /.container -->
{% endblock %}