{% extends "Front\BonPlanBundle::layout.html.twig" %}
{% block container %}


    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Idreservation</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reserver in reservers %}
            <tr>
                <td><a href="{{ path('reserver_show', { 'idreservation': reserver.idreservation }) }}">{{ reserver.idreservation }}</a></td>
                <td>{% if reserver.date %}{{ reserver.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reserver_show', { 'idreservation': reserver.idreservation }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reserver_edit', { 'idreservation': reserver.idreservation }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}