{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
<br>
    <h4>{{ 'profile.show.username'|trans }}: {{ user.username }}</h4>
    <br>
    <h4>{{ 'profile.show.email'|trans }}: {{ user.email }}</h4>
    <h4>{{ '' }}</h4>
</div>
