{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}
    <h1>Categorie Evenement</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Idcatev</th>
            <td>{{ categorieevenement.idcatev }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ categorieevenement.nom }}</td>
        </tr>
        </tbody>
    </table>


    <a href="{{ path('categorieevenement_index') }}"><button class="btn btn-primary btn-sm btn-block">Back to the list</button></a>

    <a href="{{ path('categorieevenement_edit', { 'idcatev': categorieevenement.idcatev }) }}"><button class="btn btn-success btn-block" type="submit" style="margin-top: 10px;">Edit</button></a>

    {{ form_start(delete_form) }}
    <button class="btn btn-danger btn-sm btn-block" type="submit" style="margin-top: 10px;">Delete</button>
    {{ form_end(delete_form) }}

{% endblock %}
