{% extends "tfUserBundle::prestataire.html.twig" %}
{% block tilte %}
    Espace prestataire Bon plan
{% endblock %}
{% block container %}
<section class="content">
    <a class="btn btn-success pull-right" href="#">Nouvelle commande</a>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des commandes</h3>
                </div>
            </div>
        </div>
    </div>
                <!-- /.box-header -->
                <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id_cmd</th>
                <th>Qte_cmd</th>
                <th>Date_cmd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'idcmd': commande.idcmd }) }}">{{ commande.idcmd }}</a></td>
                <td>{{ commande.qtecmd }}</td>
                <td>{% if commande.datecmd %}{{ commande.datecmd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <a class="btn btn-success" onclick="myFunction()" href="{{ path('commande_edit', { 'idcmd': commande.idcmd }) }}">edit</a>

                        <a class="btn btn-danger" onclick="return confirm('êtes vous sûr de vouloir supprimer cette commande?')"  href="{{ path('commande_delete', { 'idcmd': commande.idcmd }) }}">supprimer</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_newadmin') }}">Create a new commande</a>
        </li>
    </ul>
                </div>
</section>
{% endblock %}
