{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan

{% endblock %}
{% block container %}
    <h1>region edit</h1>
    <table class="table">
        <tr>
            <td>
                <div id="form-edit">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <button class="btn btn-success btn-sm" type="submit" style="margin-top: 10px;">Edit</button>
                    {{ form_end(edit_form) }}
                </div>
            </td>
            <td>
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <a href="{{ path('region_index') }}"><button class="btn btn-primary btn-sm btn-block">Back to the list</button></a>
                </div>
                <div class="col-md-12" style="margin-bottom: 10px;">
                    {{ form_start(delete_form) }}
                    <button class="btn btn-danger btn-sm btn-block" type="submit">Delete</button>
                    {{ form_end(delete_form) }}
                </div>
            </td>
        </tr>

    </table>
{% endblock %}
