{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}
    <h1>Categorie article</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Idcatart</th>
            <td>{{ categoriearticle.idcatart }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ categoriearticle.nom }}</td>
        </tr>
        </tbody>
    </table>


    <a href="{{ path('categoriearticle_index') }}"><button class="btn btn-primary btn-sm btn-block">Back to the list</button></a>

    <a href="{{ path('categoriearticle_edit', { 'idcatart': categoriearticle.idcatart }) }}"><button class="btn btn-success btn-block" type="submit" style="margin-top: 10px;">Edit</button></a>

    {{ form_start(delete_form) }}
    <button class="btn btn-danger btn-sm btn-block" type="submit" style="margin-top: 10px;">Delete</button>
    {{ form_end(delete_form) }}

{% endblock %}
