<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>  Les Bon Plans de Tunis </title>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cookery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!---->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/component.css') }}" />
    <!-- animation-effect -->
    <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->


</head>
<body>
<div class="header head">
    <div class="container">
        <div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
            <h1><a href="{{ path('front_bon_plan_homepage') }}"><img src="{{  asset('images/bonplan1.png') }}" alt=""></a></h1>
        </div>
        <div class="nav-icon">
            <a href="#" class="navicon"></a>
            <div class="toggle">
                <ul class="toggle-menu">
                    <li><a class="active" href="{{ path('front_bon_plan_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('front_bon_plan_blog') }}">Restaurants et cafés</a></li>
                    <li><a href="{{ path('front_bon_plan_menu') }}">Evenements</a></li>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <li><a href="{{ path('front_bon_plan_login') }}">Connexion</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Espace prestataire</a></li>
                    {% endif %}
                    <li><a href="{{ path('front_bon_plan_contact') }}">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('bonplan_admin_template') }}">Espace Admin</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_PRESTATAIRE') %}
                        <li><a href="{{ path('tf_user_homepage') }}">Espace Prestataire</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('front_bon_plan_user') }}">Espace Utilisateur</a></li>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                        <li >
                            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-address-card-o"></i>  Profil</a>

                        </li>
                        <li >
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"> </i>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>

                    {% endif %}
                </ul>
            </div>



            <script>
                $('.navicon').on('click', function (e) {
                    e.preventDefault();
                    $(this).toggleClass('navicon--active');
                    $('.toggle').toggleClass('toggle--active');
                });
            </script>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- start search-->
    {% block head %}
    {% endblock %}
</div>
<!--content-->
{% block container %}
{% endblock %}
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="footer-head">
            <div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <ul class=" in">
                    <li><a class="active" href="{{ path('front_bon_plan_homepage') }}">Home</a></li>
                    <li><a href="{{ path('front_bon_plan_menu') }}">Events</a></li>
                    <li><a href="{{ path('front_bon_plan_blog') }}">Restaurant et Café</a></li>
                    <li><a href="{{ path('front_bon_plan_contact') }}">Contact</a></li>
                </ul>
                <span></span>
            </div>
            <div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h2>Follow Us</h2>
                <label><i class="glyphicon glyphicon-menu-up"></i></label>
                <p></p>
                <ul class="social-ic">
                    <li><a href="#"><i></i></a></li>
                    <li><a href="#"><i class="ic"></i></a></li>
                    <li><a href="#"><i class="ic1"></i></a></li>
                    <li><a href="#"><i class="ic2"></i></a></li>
                    <li><a href="#"><i class="ic3"></i></a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
</div>





<!--//footer-->
</body>
</html>