{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Détails</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">

        <tbody>
            <tr>
                <th>Référence</th>
                <td>{{ publiciteArticle.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ publiciteArticle.etat }}</td>
            </tr>
            <tr>
                <th>Date publication</th>
                <td>{% if publiciteArticle.datepublication %}{{ publiciteArticle.datepublication|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date effet</th>
                <td>{% if publiciteArticle.dateeffet %}{{ publiciteArticle.dateeffet|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date expiration</th>
                <td>{% if publiciteArticle.dateexpiration %}{{ publiciteArticle.dateexpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Justificatif</th>
                <td><td><a href="{{ asset('uploads/' ~ publiciteArticle.imageName) }}" target="_blank"> <img class="img-responsive" style="width: 220px;height: 250px;" src="{{ asset('uploads/' ~ publiciteArticle.imageName) }}" alt=" "></a></td></td>
            </tr>
        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('publicitearticle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publicitearticle_edit', { 'id': publiciteArticle.id }) }}">Edit</a>
        </li>

    </ul>
</section>
{% endblock %}
