{% extends "BackBonPlanBackBundle::layout.html.twig" %}
{% block tilte %}
    Administration Bon plan
{% endblock %}
{% block container %}

<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Offres publicitaires</h3>
                    <a href="{{ path('publicite_new') }}" class="btn btn-success pull-right">Nouveau</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">


        <thead>
            <tr>

                <th>Libelle</th>
                <th>Type</th>
                <th>Duree</th>
                <th>Tarif(DT)</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>

                <td>{{ publicite.libelle }}</td>
                <td>{{ publicite.type }}</td>
                <td>{{ publicite.duree }}</td>
                <td>{{ publicite.tarif }}</td>
                <td>{{ publicite.etat }}</td>
                <td>

                            <a href="{{ path('publicite_show', { 'idpublicite': publicite.idpublicite }) }}" class="btn btn-info">Détails</a>

                            <a href="{{ path('publicite_edit', { 'idpublicite': publicite.idpublicite }) }}" class="btn btn-danger">supprimer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Promotions en attente</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>

                            <th>Date Demande</th>
                            <th>Date effet</th>
                            <th>Date expiration</th>
                            <th>Justificatif</th>
                            <th>Etat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for publiciteArticle in publiciteArticles %}
                            <tr>
                                <td><a href="{{ path('publicitearticle_show', { 'id': publiciteArticle.id }) }}">{{ publiciteArticle.id }}</a></td>

                                <td>{% if publiciteArticle.datepublication %}{{ publiciteArticle.datepublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if publiciteArticle.dateeffet %}{{ publiciteArticle.dateeffet|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if publiciteArticle.dateexpiration %}{{ publiciteArticle.dateexpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td><a href="{{ asset('uploads/' ~ publiciteArticle.imageName) }}" target="_blank"> <img class="img-responsive" style="width: 150px;height: 100px;" src="{{ asset('uploads/' ~ publiciteArticle.imageName) }}" alt=" "></a></td>
                                <td>{{ publiciteArticle.etat }}</td>
                                <td>

                                            <a href="{{ path('publicitearticle_show', { 'id': publiciteArticle.id }) }}" class="btn btn-info">Détails</a>
                                    {% if publiciteArticle.etat == "en attente" %}
                                            <a href="{{ path('publicitearticle_activer', { 'id': publiciteArticle.id }) }}" class="btn btn-success">Valider</a>

                                    <a href="{{ path('publicitearticle_refuser', { 'id': publiciteArticle.id }) }}" class="btn btn-danger">Refuser</a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <a href="#" >Voir tous</a>
                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}
