{% extends "tfUserBundle::prestataire.html.twig" %}
{% block tilte %}
    Espace prestataire Bon plan
{% endblock %}
{% block container %}

<section class="content">
    <a class="btn btn-success pull-right" href="{{ path('article_new') }}">Nouveau Plan</a>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des plans</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Idarticle</th>
                <th>Titre</th>

                <th>Adresse</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'idarticle': article.idarticle }) }}">{{ article.idarticle }}</a></td>
                <td>{{ article.titre }}</td>

                <td>{{ article.adresse }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ article.etat }}</td>
                <td>

                            <a class="btn btn-xs btn-info" onclick="myFunction()"  href="{{ path('article_show', { 'idarticle': article.idarticle }) }}">Détails</a>

                            <a class="btn btn-xs btn-success" onclick="myFunction()" href="{{ path('article_edit', { 'idarticle': article.idarticle }) }}">Modifier</a>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
