{% extends "tfUserBundle::prestataire.html.twig" %}
{% block tilte %}
    Espace prestataire Bon plan
{% endblock %}
{% block container %}
<section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">{{ article.titre }}</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Référence</th>
                <td>{{ article.idarticle }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ article.adresse }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Mes publicités</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Etat</th>
                            <th>Date Ajout</th>
                            <th>Date effet</th>
                            <th>Date expiration</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for publiciteArticle in publiciteArticles %}
                            <tr>
                                <td><a href="{{ path('publicitearticle_show', { 'id': publiciteArticle.id }) }}">{{ publiciteArticle.id }}</a></td>
                                <td>{{ publiciteArticle.etat }}</td>
                                <td>{% if publiciteArticle.datepublication %}{{ publiciteArticle.datepublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if publiciteArticle.dateeffet %}{{ publiciteArticle.dateeffet|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if publiciteArticle.dateexpiration %}{{ publiciteArticle.dateexpiration|date('Y-m-d H:i:s') }}{% endif %}</td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
            <a href="{{ path('article_index') }}" class="btn btn-info">Retour à la liste</a>

            <a href="{{ path('article_edit', { 'idarticle': article.idarticle }) }}" class="btn btn-warning">Modifier</a>




    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a href="{{ path('publicitearticle_new', { 'id': article.idarticle }) }}" class="btn btn-success">Mettre en avant</a>
        </div>
    </div>

</div>

</section>
{% endblock %}
