{% extends "tfUserBundle::prestataire.html.twig" %}
{% block tilte %}
    Espace prestataire Bon plan
{% endblock %}
{% block container %}

<section class="content">

    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des Réservations</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Idreservation</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserver in reservers %}
            <tr>
                <td><a href="{{ path('reserver_show', { 'idreservation': reserver.idreservation }) }}">{{ reserver.idreservation }}</a></td>
                <td>{% if reserver.date %}{{ reserver.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reserver.etat }}</td>
                <td>
                    <a href="{{ path('reserver_show', { 'idreservation': reserver.idreservation }) }}" class="btn btn-info">Détail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
